.botão1{
  background: #525482;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-top: 15px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 150px;
  text-align: center;
  margin-bottom: 30px;#444980
}